@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Poppins", serif;
    font-size: 62.5%;
  }

  h1 {
    font-size: 5.8rem;
    font-weight: 700;
  }

  h2 {
    font-size: 4rem;
    font-weight: 600;
  }

  h3 {
    font-size: 2.4rem;
    font-weight: 500;
  }

  h4 {
    font-size: 2rem;
    font-weight: 400;
  }

  h5 {
    font-size: 1.6rem;
    font-weight: 500;
  }

  h6 {
    font-size: 1.4rem;
    font-weight: 400;
  }

  p {
    font-size: 1.4rem;
    font-weight: 300;
  }

  li {
    font-size: 2rem;
    font-weight: 300;
  }

  a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
  }

  button {
    font-size: 1.4rem;
    font-weight: 500;
  }
}
